html, body {
    width: 100%;
    height: 100%;
    background-color: #f6f7f5;
}

.navbar {
    transition: all 0.2s;
}

.txtSearchNav {
    font-family: Raleway;
    font-size: 1.2rem;
    height: 40px;
    display: inline-block;
    font-weight: 400;
    border: none;
    outline: none;
    color: #3a5c3e;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 5;
    right: 0;
    padding-bottom: 0px;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

.txtSearchNav:focus:hover {
    border-bottom: 1px solid #3e4e15;
}

.txtSearchNav:focus {
    width: 350px;
    z-index: 1;
    border-bottom: 1px solid #3e4e15;
    cursor: text;
    margin-right: 10px;
}

input[type="submit"] {
    height: 67px;
    width: 40px;
    display: inline-block;
    color: red;
    background: url("../Image/search.png") center center no-repeat;
    background-size: 18px;
    text-indent: -1000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 20px;
}

.aLogo {
    font-family: Abril Fatface;
    color: #3e4e15;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 1px;
    text-decoration: none !important;
}

.aLogo:hover {
    color: #3a5c3e;
}

.pItem {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 1.2rem;
    font-weight: 700;
}

.pSubItem {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 1rem;
    font-weight: 500;
    margin-top: -10px;
}

th {
    font-family: Raleway;
    color: #3a5c3e;
    font-weight: 900;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.tdImg {
    white-space: nowrap !important;
}

table td {
    vertical-align: middle !important;
}

.pPrice {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.btnMinus {
    font-family: Raleway;
    color: #3a5c3e;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-right: 1px solid gray;
    padding: 0px 10px;
}

.btnPlus {
    font-family: Raleway;
    color: #3a5c3e;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-left: 1px solid gray;
    padding: 0px 10px;
}

.pQuantity, .pTotal {
    font-family: Raleway;
    color: #3a5c3e;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center !important;
}

th {
    text-align: center;
}

.txtValue {
    font-family: Raleway;
    color: #3a5c3e;
    border: 0px;
    padding: 0px 10px;
    margin-top: 15px;
    width: 50px;
    text-align: center;
    background-color: transparent;
    transition: all 0.2s;
}

.pVoucher {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.txtVoucher {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 0.9rem;
    font-weight: 500;
    width: 350px;
    padding: 8px 10px;
    border: 0px;
    outline: none !important;
    border-radius: 12px;
    margin-left: 15px;
    -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
}

.center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/** Custom Select **/

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
}

.custom-select-wrapper select {
    display: none;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select-trigger {
    position: relative;
    display: block;
    width: 130px;
    padding: 0 84px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 60px;
    background: #5c9cd8;
    border-radius: 4px;
    cursor: pointer;
}

.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
    background: #fff;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
}

table , td, tr ,tbody {
    padding: 0px !important;
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.custom-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%;
    right: 25px;
    width: 7px;
    height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}

.option-hover:before {
    background: #f9f9f9;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #b5b5b5;
    font-size: 18px;
    font-weight: 600;
    color: #b5b5b5;
    line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}

.custom-option:hover, .custom-option.selection {
    background: #f9f9f9;
}

select {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 0.9rem;
    margin-bottom: 1em;
    border: 0;
    font-weight: 500;
    border-radius: 14px;
    background-color: white;
    margin-top: -10px;
    margin-left: 10px;
    padding: 10px 10px;
     text-align: right;
    text-transform: uppercase;
    -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
}

select:focus, select:active {
    outline: 0;
}

.pShipping {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 10px;
    text-align: right;
}

.pAllTotal {
    font-family: Raleway;
    color: #a6bc70;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: right;
    margin-top: 30px;
}

.divFooter {
    background-color: #baca91;
    padding: 70px 0px;
}

.divFooterSub {
    margin-top: -5px;
}

.pFooterTitle {
    font-family: Raleway;
    color: #3e4e15;
    font-weight: 500;
    font-size: 1rem;
}

.pFooterTitleSub {
    font-family: Raleway;
    color: #3e4e15;
    font-size: 0.9rem;
    margin-left: 20px;
    line-height: 50%;
}

.pFooterTitleSubAdd {
    font-family: Raleway;
    color: #3e4e15;
    font-size: 0.9rem;
    margin-top: -10px;
}

.txtSearch {
    font-family: Raleway;
    color: #3e4e15;
    font-size: 0.9rem;
    font-style: italic;
    background-color: #a6bc70;
    border: 0px;
    border-radius: 25px;
    width: 100%;
    background: url(../Image/search.png) no-repeat scroll 15px 13px #a6bc70;
    background-size: 15px;
    padding: 10px 35px;
    -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #3e4e15;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}