html, body {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 900px) {
    .divFooter {
        width: 1100px;
    }
}

@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1300px !important;
    }
}

@media only screen and (max-width: 998px) {
    .pMain {
        font-size: 2.4rem !important;
    }
    .pMainSub {
        font-size: 1.1rem !important;
    }
}

@media only screen and (max-width: 556px) {
    .colImage {
        margin-top: 100px !important;
    }
    .pMain {
        font-size: 1.8rem !important;
    }
    .btnBuy {
        font-size: 0.9rem !important;
        width: auto !important;
    }
    .imgMain {
        width: 300px !important;
    }
    .pCheck {
        font-size: 1rem !important;
    }
    .conTestimonial {
        margin-top: 20px !important;
    }
    .img1 {
        width: 350px !important;
        height: 300px !important;
    }
    .img2 {
        top: 120px !important;
    }
    .pFooterTitle {
        font-weight: 700 !important;
        margin-left: 5px !important;
        margin-top: 5px !important;
    }
    .pFooterTitleSub {
        margin-left: 5px !important;
        line-height: normal !important;
        font-weight: 500 !important;
    }
    .pTerms {
        margin-top: 35px !important;
    }
    .pFooterTitleSubAdd {
        margin-left: 5px !important;
    }
    .txtSearch {
        margin-top: 20px !important;
    }
}


.navbar {
    transition: all 0.2s;
}

.pTitle {
    font-family: Abril Fatface;
    color: #3a5c3e;
    font-weight: bold;
    line-height: 100%;
    font-size: 3.2rem;
    text-shadow: 4px 4px 10px rgba(150, 150, 150, 0.20);
}

.pTitleSub {
    font-family: Raleway;
    font-weight: 500;
    color: #949d7e;
    font-size: 1rem;
}

.btnBuy {
    font-family: Roboto;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    background-color: #b8c58d;
    border-radius: 25px;
    width: 250px;
    padding: 10px 25px;
    border: 0px;
    cursor: pointer;
    transition: all 0.2s;
}

.pCheck {
    font-family: Raleway;
    color: #3e4e15;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-left: 10px;
}

.divImage {
    position: relative;
}

.img1 {
    width: 500px;
    height: 500px;
    float: right;
}

.img2 {
    width: 450px;
}

.img2 {
    position: absolute;
    top: 300px;
}

.divFooter {
    background-color: #baca91;
    padding: 70px 0px;
}

.divFooterSub {
    margin-top: -5px;
}

.pFooterTitle {
    font-family: Raleway;
    color: #3e4e15;
    font-weight: 500;
    font-size: 1rem;
}

.pFooterTitleSub {
    font-family: Raleway;
    color: #3e4e15;
    font-size: 0.9rem;
    margin-left: 20px;
    line-height: 50%;
}

.pFooterTitleSubAdd {
    font-family: Raleway;
    color: #3e4e15;
    font-size: 0.9rem;
    margin-top: -10px;
}

.txtSearch {
    font-family: Raleway;
    color: #3e4e15;
    font-size: 0.9rem;
    font-style: italic;
    background-color: #a6bc70;
    border: 0px;
    border-radius: 25px;
    width: 100%;
    background: url(../Image/search.png) no-repeat scroll 15px 13px #a6bc70;
    background-size: 15px;
    padding: 10px 35px;
    -webkit-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.26);
}

.conItem {
    height: 600px;
    min-height: 600px;
}

.pTitleSubItem {
    font-family: Raleway;
    color: #3e4e15;
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: -5px;
}

.pDesc {
    font-family: Abril Fatface;
    color: #3a5c3e;
    font-size: 1.5rem;
    text-decoration: underline;
}

.pDescSub {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 1rem;
}

.box {
    background-color: white;
    border-radius: 14px;
    width: 200px;
    height: 40px !important;
    min-height: 40px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
}

.pSign {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 1.1rem;
    font-weight: 500;
}

.btnMinus {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    padding: 0px 10px;
    width: 50px;
    text-align: center;
    margin-right: 10px;
    margin-top: -10px;
    border-right: 1px solid lightgray;
}

.btnPlus {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    padding: 0px 10px;
    width: 40px;
    text-align: center;
    margin-right: 10px;
    margin-top: -10px;
    border-left: 1px solid lightgray;
}

.btnNumber {
    font-family: Raleway;
    color: #3a5c3e;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: transparent;
    border: 0px;
    padding: 0px 10px;
    width: 80px;
    text-align: center;
    margin-right: 10px;
}

.box2 {
    background-color: white;
    border-radius: 14px;
    width: 500px;
    height: 140px !important;
    min-height: 140px !important;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
}

.pBoxTitle {
    font-family: Raleway;
    color: #3a5c3e;
    font-weight: 300;
    font-size: 3.5rem;
}

.pBoxTitleSub {
    font-family: Raleway;
    color: #3a5c3e;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: -20px;
}

.btnIngredients {
    font-family: Raleway;
    font-size: 1rem;
    color: #3a5c3e;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding: 20px 10px;
    border: 0px;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
    margin-top: 15px;
}

.active {
    background-color: #baca91;
}